{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
login
{% endblock %}

{% block headers %}
    <link href="{% static "django_project/css/auth-form.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <form class="form-signin" role="form" method="post" action="">
    {% csrf_token %}

        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />


        <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
{% endblock %}