<div class="list-group-item" data-id="{{ comm.id }}">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      {% if comm.author %}
        <a href="/user/{{ comm.author.username }}/" class="thumbnail">
          <img src="{{ comm.author.userprofile.profile_image.url|default:"/media/images/default.jpg" }}"
               alt="image not found">
        </a>
      {% else %}
        <a class="thumbnail">
          <img src="/media/images/default.jpg" alt="image not found">
        </a>
      {% endif %}
      <div class="row comm">
      {% if comm.answers.all %}
        <span class="round" data-toggle="tooltip" data-placement="bottom" title="Collapse">
            <span class="glyphicon glyphicon-chevron-down btn btn-sm btn-default round expand" data-toggle="collapse"
                  data-target="#answers-{{ comm.id }}"></span>
          </span>
      {% endif %}
      <span class="round" data-toggle="tooltip" data-placement="bottom" title="Answer">
          <span class="glyphicon glyphicon-share-alt btn btn-success round answer" data-id="{{ comm.id }}"></span>
      </span>
      </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h4 class="list-group-item-heading">
        <small>
          <b>{{ comm.author.username|default:"Anonymous" }}</b> - {{ comm.created }}
        </small>
      </h4>
      <p>
        {{ comm.text|safe }}
      </p>
    </div>
  </div>
</div>
{#{% if comm.answers.all %}#}
  <div class="list-group collapse in" style="margin-left: 30px" id="answers-{{ comm.id }}">
    {% for answer in comm.answers.all %}
      {{ answer.render }}
    {% endfor %}
  </div>
{#{% endif %}#}
