<div class="list-group-item" data-id="{{ comm.id }}" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      {% if comm.author %}
        <a href="{% url 'profile' comm.author.username %}" class="thumbnail">
          <img src="{{ comm.author.userprofile.profile_image.url|default:"/media/images/default.jpg" }}"
               alt="image not found">
        </a>
      {% else %}
        <a class="thumbnail">
          <img src="/media/images/default.jpg" alt="image not found">
        </a>
      {% endif %}
      <div class="row comm">
        <button class="btn btn-xs btn-default btn-comm expand" data-toggle="tooltip" data-placement="bottom"
                title="Collapse" data-target="#answers-{{ comm.id }}">
            <span class="glyphicon glyphicon-chevron-down" ></span>
          </button>
      <button class="btn btn-xs btn-success btn-comm answer" data-toggle="tooltip" data-placement="bottom" title="Answer">
          <span class="glyphicon glyphicon-share-alt" data-id="{{ comm.id }}"></span>
      </button>
      </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h4 class="list-group-item-heading">
        <small>
          <b>{{ comm.author.username|default:"Anonymous" }}</b> - {{ comm.created }}
        </small>
      </h4>
      <p>
        {{ comm.text|safe }}
      </p>
      {% if comm.snippets.all %}
        <small><i>Linked snippets:
        {% for snippet in comm.snippets.all %}
          {% if not forloop.last %}
             <a href="#">&gt;&gt;{{ snippet.name }},</a>
          {% else %}
             <a href="#">&gt;&gt;{{ snippet.name }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </i></small>
    </div>
  </div>
</div>
{#{% if comm.answers.all %}#}
  <div class="list-group collapse in" style="margin-left: 30px" id="answers-{{ comm.id }}">
    {% for answer in comm.answers.all %}
      {{ answer.render }}
    {% endfor %}
  </div>
{#{% endif %}#}
