{% extends 'snippetalk/snippetalk.html' %}

{% block title %}
    recent snippets.
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
            <div class="list-group">

    {% for snippet in snippets %}
        <a href="/snippetalk/{{ snippet.id }}/" class="list-group-item">
            <h4 class="list-group-item-heading">
                {{ snippet.name }}<br>
                <small>
                    author: {{ snippet.author|default:"Anonymous" }}, created:
                  {{ snippet.created }},
                  modified:
                  {{ snippet.modified }},
                    language: {{ snippet.get_language_display }}
                </small>
            </h4>
            <p class="list-group-item-text">{{ snippet.description }}</p>
        </a>
    {% empty %}
        <a href="/snippetalk/create/" class="list-group-item">
            <h4 class="list-group-item-heading">
                There is no snippets now.
            </h4>
            <p class="list-group-item-text">You can create first one.</p>
        </a>
    {% endfor %}
    </div>

{% endblock %}