{% extends "snippetalk/snippetalk.html" %}
{% load staticfiles %}

{% block title %}
  {{ title }}
{% endblock %}

{% block headers %}
  <link href="{% static "bootstrap3-editable/css/bootstrap-editable.css" %}" rel="stylesheet"
        type="text/css">
  <link href="{% static "select2/css/select2.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "select2/css/select2-bootstrap.min.css" %}" rel="stylesheet"
        type="text/css">
  <link href="{% static "ladda-bootstrap/css/ladda-themeless.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "snippetalk/css/highlight.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "snippetalk/css/snippetalk.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  {% csrf_token %}


  <div class="modal fade" id="existing-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Select snippet</h4>
        </div>
        <div class="modal-body">
          <select name="snippet-select" id="snippet-select">
            {% for snippet in my_snippets %}
              <option value="{{ snippet.id }}">{{ snippet.name }}</option>
            {% endfor %}
          </select>
          <div class="panel panel-default panel-code">
            <div class="panel-body">
              <div class="highlight" id="my-snippet">
                <ol>
                  {{ my_snippets.0.highlighted | safe }}
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="add-snippet" data-dismiss="modal">Add to comment</button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="page-header">
    <h2>
      <a href="#" id="name" data-type="text" data-pk="{{ snippet.id }}"
        >{{ snippet.name | default:"Untitled"}}</a><br>
      <small>
        {% if snippet %}
          by
          {% if snippet.author %}
            <a href="{% url 'profile' snippet.author.username %}">{{ snippet.author.username }}</a>
          {% else %}
            Anonymous
          {% endif %}
          <br>
        {% endif %}

        <small>
          {% if snippet.created %}
            created: {{ snippet.created }},
          {% endif %}
          {% if snippet.modified %}
            modified: <span id="modified">{{ snippet.modified }}</span>
          {% endif %}
          language: <a href="#" id="lang" data-type="select2"
                       data-value="{{ snippet.language|default:plain_text }}"
                       data-inputclass="ccc">
          {{ snippet.get_language_display|default:"Text only" }}</a>,
          privacy: <a href="#" id="public" data-type="select2"
                      data-value="{{ snippet.public|default:1 }}">
          {{ snippet.get_public_display|default:"Public" }}</a>
        </small>
      </small>
    </h2>
  </div>
  <div class="panel panel-default panel-code">
    <div class="panel-body">
      {# #######################TOOLBAR################################ #}
      <div class="row tools">
        <ul class="nav navbar-nav nav-pils navbar-right" id="snippet-buttons">
          {% if not snippet %}
            <form enctype="multipart/form-data" method="post" name="fileform">
              {% csrf_token %}
              <input type="file" id="file" name="file" class="hidden">
            </form>
            <li role="presentation">
              <button class="btn" data-toggle="tooltip" data-placement="bottom" title="Upload" id="upload">
                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
              </button>
            </li>
          {% endif %}
          {% if snippet.id %}
            <li role="presentation">
              <button href="{% url 'snippetalk:download' snippet.id %}" class="btn btn-xs" data-toggle="tooltip"
                 data-placement="bottom" title="Download">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              </button>
            </li>
            <li role="presentation">
              <button href="{% url 'snippetalk:fork' snippet.id %}" class="btn btn-xs" data-toggle="tooltip"
                 data-placement="bottom"
                 title="Fork">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
            </li>
          {% endif %}
          {% if mine %}
            <li role="presentation">
              <button class="btn btn-xs" id="save" data-toggle="tooltip" data-placement="bottom"
                 title="Save">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              </button>
            </li>
            {% if snippet.id %}
              <li role="presentation">
                <button href="{% url 'snippetalk:delete' snippet.id %}" class="btn btn-xs" id="delete"
                   data-toggle="tooltip" data-placement="bottom" title="Delete">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </li>
            {% endif %}
          {% endif %}
        </ul>
        <ul class="nav nav-tabs" id="code-tabs" role="tablist">
          <li role="presentation" class="active" id="highlight_tab">
            <a href="#highlight" aria-controls="highlight" role="tab" data-toggle="tab">Snippet</a>
          </li>
          <li role="presentation" id="raw_tab">
            <a href="#raw" aria-controls="raw" role="tab" data-toggle="tab">Raw</a>
          </li>
          <li role="presentation" id="desc_tab">
            <a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">Description</a></li>
        </ul>
      </div>
      {#  ###################TOOLBAR END############################  #}
      <div class="tab-content">
        <div class="highlight tab-pane fade in active" id="highlight" role="tabpanel">
          <ol>{{ snippet.highlighted | safe }}</ol>
          <div class="shadow" style="display: none" id="code-shadow"></div>
        </div>
        <div id="raw" class="tab-pane fade" role="tabpanel">
          <form>
                <textarea class="form-control" id="raw-ta" {% if not mine %}readonly
                {% endif %}>{{ snippet.code }}</textarea>
          </form>
        </div>
        <div id="desc" class="tab-pane fade" role="tabpanel">
          <form>
            <textarea class="form-control" id="desc-ta" {% if not mine %}readonly{% endif %}
              >{{ snippet.description }}</textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
  {#  Snippet ends  #}
  {#  Comment Area  #}
  {% if snippet.id %}
    <div class="page-header">
      <h3>
        Comments(<span id="comment-count">{{ snippet.comments.count }}</span>)
          <button class="btn btn-default round expand" data-toggle="tooltip" data-placement="bottom" title="Collapse"
            data-target=".comments.all">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>

        <button class="btn btn-success round" data-toggle="tooltip" data-placement="bottom" title="Add Comment"
          id="comment" data-id>
          <span class="glyphicon glyphicon-share-alt" ></span>
        </button>
      </h3>

    </div>


    <div class="list-group comments all collapse in" id="answers-0">
      {% for comment in snippet.top_level_comments %}
        {{ comment.render }}
      {% endfor %}
    </div>
  {% endif %}
  {#  End of Comment Area  #}
  <textarea id="raw-ta-hidden" class="hidden">{{ snippet.code }}</textarea>
  <input type="text" id="snippet-id" class="hidden" value="{{ snippet.id|default_if_none:'' }}"/>
{% endblock %}

{% block scripts %}
  <script src="{% static "bootstrap3-editable/js/bootstrap-editable.min.js" %}"></script>
  <script src="{% static "select2/js/select2.full.js" %}"></script>
  <script src="{% static "snippetalk/js/snippetalk.js" %}"></script>
  <script src="{% static "ladda-bootstrap/js/spin.min.js" %}"></script>
  <script src="{% static "ladda-bootstrap/js/ladda.min.js" %}"></script>
  <script>
    mine = {{ mine | lower}};
    data_source = {{ langs | safe }};
  </script>
{% endblock %}