html, body{
    height: 100%;
}
.container{
    position: relative;
    height: 85%;
}
.row{
    height: 100%;
}
.main-col{
    height: 100%;
}
.main{
    height: 70%;
    overflow-y: auto;
}

.alert{
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 5px;
}

.well{
    padding: 0;
}

.message_block{
    height: auto;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
}

.message_block div{
    padding-left: 5px;
    padding-right: 10px;
}

.load-more{
    background-color: silver;
    opacity: 0.5;
    border-radius: 0;
    border: 0;
}