html, body{
    height: 100%;
}
.container{
    position: relative;
    height: 85%;
}
.row{
    height: 100%;
}
.main-col{
    height: 100%;
}
.main{
    height: 70%;
    overflow-y: auto;
}

.alert{
    word-break: break-all;
}

.message_block{
    height: auto;
}
