<div class="alert {{ style }}">
    <div class="row">
    	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" align="right">
            <a href="/user/{{ message.sender.username }}" target="_blank">{{ message.sender.username }}</a>:
            <a href="/user/{{ message.sender.username }}" class="thumbnail">
            	<img src="
            	    {% if message.sender.userprofile.profile_image %}
                        {{ message.sender.userprofile.profile_image.url }}
                    {% else %}
                        /media/images/default.jpg
            	    {% endif %}
            	" alt="Image">
            </a>
    	</div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            {{ message.text }}
        </div>
    </div>

</div>