/*Common css castomization for all pages*/
body {
    padding-top: 70px;
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #f2f2f2;
border-left: 1px solid #f0f0f0;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.list-group {
    border-radius: 4px;
     -webkit-box-shadow: 0 0 0;
     box-shadow: 0 0 0;
}

.list-group-item {
    border-left: 0;
    border-right: 0;

}
.list-group-item:last-child {
    border-bottom: 0;
}

.list-group-item:first-child {
    border-top: 0;
}