/*Common css customization for all pages*/
body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f9f9f9;
}

div, a, li, img{
  transition: all 300ms ease-in!important;
}

.navbar {
  padding: 0;
  opacity: .65;
}

.navbar:hover{
  opacity: 1;
}

.jumbotron, .panel {
  opacity: .80;
}

.jumbotron:hover, .panel:hover {
  opacity: 1;
}

.list-group-item {
  background-color: transparent;
}

.navbar .divider-vertical {
  height: 70px;
  margin: 0 9px;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f0f0f0;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.list-group-item {
  border-left: 0;
  border-right: 0;

}
.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item:first-child {
  border-top: 0;
}

.navbar-right {
  margin-right: 0;
}

.page-header {
  border-bottom: 1px solid #ddd;
}

.modal-dialog {
  padding-top: 0;
}

.modal-content {
  height: 90vh;
}

.modal-body{
  position: absolute;
  overflow: hidden;
  padding: 15px 15px 0;
  width:100%
}

.form-control {
  border-radius: 20px;
}

.input-group .form-control{
  border-radius: 20px;
}

.input-group .input-group-btn .btn{
  border-radius: 0 20px 20px 0;
  border: 2px solid #bbbbbb;
}

.modal-body img{
  max-width: 90%;
  height: 85vh;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
}

.modal-header {
  position: absolute;
  top: 0;
  height: 75px;
  width: 100%;
}

.dropdown-menu, .navbar-nav>li>.dropdown-menu {
  border-radius: 5px;
  border: 0;
}


/*input.form-control {*/
/*border: 1px solid #dddddd;*/
/*}*/

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*padding: 10px;*/
  font-size: 16px;
  border: 2px solid #bbbbbb;
  border-radius: 20px;
}

/*.select2-container--default .select2-selection--single .select2-selection__arrow{*/
  /*/!*margin-top: 0;*!/*/
  /*top: 12px;*/
/*}*/

.select2-container--open .select2-dropdown{

  border-width: 2px;
  height: auto;
  box-shadow: 0 0 20px rgba(150,150,150,0.9);
}

.select2-container--open .select2-dropdown--above{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /*padding-top: 16px;*/
  overflow-y: hidden!important;
}

/*.select2-container--open .select2-dropdown--above li:first-child{*/
  /*border-top-left-radius: 17px;*/
  /*border-top-right-radius: 17px;*/
/*}*/

.select2-container--open .select2-dropdown--below{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /*padding-top: 0;*/
  padding-bottom: 16px;
}

.select2-search input {
  box-shadow: none;
}

.select2-results__options, .select2-results, .select2-dropdown {
  overflow-y: hidden!important;
}

input.form-control,
textarea.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #bbbbbb;
  border-radius: 20px;
}

.select2-search__field {
  border-radius: 10px!important;
}

textarea:focus, input:focus{
outline: none;
}