/*Common css castomization for all pages*/
body {
    padding-top: 70px;
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #f2f2f2;
border-left: 1px solid #f0f0f0;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}